/*-----------------------------------------------------------------------------
[client]            Compiled Themes Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Default Colors Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/* line 13, ../sass/themes/_theme.scss */
body.trusted-default-theme #header .navbar-toggle {
  border-color: #939393;
}
/* line 16, ../sass/themes/_theme.scss */
body.trusted-default-theme #header .navbar-toggle .icon-bar {
  background-color: black;
}
/* line 21, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #header-navbar {
  background-color: #f0f0f0;
  border-top-color: #c6c6c6;
  border-bottom-color: #939393;
}
/* line 26, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #header-navbar li {
  border-left-color: #949494;
}
/* line 29, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #header-navbar li:last-child {
  border-right-color: #949494;
}
/* line 33, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #header-navbar li a {
  color: #2b2b2b;
}
/* line 36, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #header-navbar li a:hover {
  color: white;
  background-color: #1380c5;
}
@media (max-width: 768px) {
  /* line 47, ../sass/themes/_theme.scss */
  body.trusted-default-theme #header #header-navbar .nav-justified > li > a {
    border-color: #949494;
  }
}
/* line 53, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #user-navbar {
  background-color: #252525;
}
/* line 57, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #user-navbar li a {
  color: #ababab;
}
/* line 60, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #user-navbar li a:hover {
  color: white;
}
/* line 63, ../sass/themes/_theme.scss */
body.trusted-default-theme #header #user-navbar li a:focus {
  color: white;
}
@media (max-width: 768px) {
  /* line 72, ../sass/themes/_theme.scss */
  body.trusted-default-theme #header #login-navbar > li > a {
    color: white;
    background-color: #1380c5;
  }
}
/* line 81, ../sass/themes/_theme.scss */
body.trusted-default-theme #content .content-header {
  color: white;
  background-color: #2d2d2d;
}
/* line 85, ../sass/themes/_theme.scss */
body.trusted-default-theme #content .content-body {
  background-color: #FFF;
  border-color: #939393;
}
/* line 89, ../sass/themes/_theme.scss */
body.trusted-default-theme #content .content-body .content {
  background-color: white;
  border-color: #FFF;
}
/* line 96, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer {
  color: white;
  background-color: #424242;
}
/* line 100, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar {
  border-bottom-color: white;
}
/* line 103, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar a {
  color: white;
}
/* line 106, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar a:focus {
  color: #1380c5;
}
/* line 110, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar a:hover {
  color: #1380c5;
}
/* line 117, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar li.dropup a.dropdown-toggle .triangle {
  border-color: #6b6b6b transparent transparent;
}
/* line 121, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar li.dropup ul.dropdown-menu {
  background-color: #6b6b6b;
}
/* line 124, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar li.dropup ul.dropdown-menu li {
  border-top-color: #9a9a9a;
}
/* line 127, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar li.dropup ul.dropdown-menu li > a {
  color: white;
}
/* line 130, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar li.dropup ul.dropdown-menu li > a:focus {
  color: white;
}
/* line 134, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #footer-navbar li.dropup ul.dropdown-menu li > a:hover {
  background: #9a9a9a;
}
/* line 143, ../sass/themes/_theme.scss */
body.trusted-default-theme #footer #copyright {
  background-color: black;
}
/* line 148, ../sass/themes/_theme.scss */
body.trusted-default-theme a {
  color: #0f7bbf;
}
/* line 151, ../sass/themes/_theme.scss */
body.trusted-default-theme a:hover {
  color: #4dbaff;
}
/* line 154, ../sass/themes/_theme.scss */
body.trusted-default-theme a:focus {
  color: #4dbaff;
}
/* line 160, ../sass/themes/_theme.scss */
body.trusted-default-theme .breadcrumbs li:after {
  color: #939393;
}
/* line 164, ../sass/themes/_theme.scss */
body.trusted-default-theme .breadcrumbs li:last-child a {
  color: #939393;
}
/* line 170, ../sass/themes/_theme.scss */
body.trusted-default-theme .comment-count {
  color: white;
  background: #1d80c1;
}
/* line 174, ../sass/themes/_theme.scss */
body.trusted-default-theme .comment-count span {
  border-color: #1d80c1 transparent transparent transparent;
}
/* line 181, ../sass/themes/_theme.scss */
body.trusted-default-theme .well {
  border-color: #939393;
}
/* line 183, ../sass/themes/_theme.scss */
body.trusted-default-theme .well .fa-gift {
  color: #ff0000;
}
/* line 191, ../sass/themes/_theme.scss */
body.trusted-default-theme .nav-tabs {
  border-color: #939393;
}
/* line 195, ../sass/themes/_theme.scss */
body.trusted-default-theme .nav-tabs li a {
  color: #0f7bbf;
}
/* line 200, ../sass/themes/_theme.scss */
body.trusted-default-theme .nav-tabs li.active a {
  color: #939393;
  border-top-color: #939393;
  border-left-color: #939393;
  border-right-color: #939393;
}
/* line 210, ../sass/themes/_theme.scss */
body.trusted-default-theme .tab-content {
  background-color: white;
  border-color: #939393;
}
/* line 219, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-default {
  color: white;
  background-color: #1d80c1;
  border-color: transparent;
}
/* line 225, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-danger {
  color: white;
  background-color: #fe0000;
  border-color: transparent;
}
/* line 231, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-cancel {
  color: white;
  background-color: #939393;
}
/* line 235, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-cancel:hover {
  background-color: #7b7b7b;
  color: white;
}
/* line 241, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-verify {
  color: white;
  background-color: red;
}
/* line 245, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-verify:hover {
  background-color: #ce0606;
  color: white;
}
/* line 251, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-save {
  color: white;
  background-color: #1d80c1;
}
/* line 255, ../sass/themes/_theme.scss */
body.trusted-default-theme .btn-save:hover {
  background-color: #186aa0;
  color: white;
}
/* line 264, ../sass/themes/_theme.scss */
body.trusted-default-theme .alert {
  color: #333333;
  background: #ffebec;
}
/* line 268, ../sass/themes/_theme.scss */
body.trusted-default-theme .alert .close {
  color: #bf8785;
}
/* line 278, ../sass/themes/_theme.scss */
body.trusted-default-theme form h2 {
  border-bottom-color: #939393;
}
/* line 284, ../sass/themes/_theme.scss */
body.trusted-default-theme input.form-control,
body.trusted-default-theme textarea.form-control,
body.trusted-default-theme select.form-control {
  border-color: #aec2ea;
}
/* line 290, ../sass/themes/_theme.scss */
body.trusted-default-theme .has-feedback .form-control-feedback.fa-asterisk {
  color: red;
}
/* line 297, ../sass/themes/_theme.scss */
body.trusted-default-theme .has-error > .form-control-feedback {
  color: red;
}
/* line 300, ../sass/themes/_theme.scss */
body.trusted-default-theme .has-error > .help-block {
  color: red;
}
/* line 305, ../sass/themes/_theme.scss */
body.trusted-default-theme .has-success > .form-control-feedback {
  color: #0eb90a;
}
/* line 311, ../sass/themes/_theme.scss */
body.trusted-default-theme .search .form-control {
  border-color: #939393;
}
/* line 314, ../sass/themes/_theme.scss */
body.trusted-default-theme .search .btn {
  color: #8c8c8c;
  border-color: #939393;
  background-color: white;
}
/* line 323, ../sass/themes/_theme.scss */
body.trusted-default-theme .thumbnail {
  border-color: #939393;
}
/* line 329, ../sass/themes/_theme.scss */
body.trusted-default-theme .border-top {
  border-top-color: #939393;
}
/* line 330, ../sass/themes/_theme.scss */
body.trusted-default-theme .border-bottom {
  border-bottom-color: #939393;
}
/* line 331, ../sass/themes/_theme.scss */
body.trusted-default-theme .border-right {
  border-right-color: #939393;
}
/* line 332, ../sass/themes/_theme.scss */
body.trusted-default-theme .border-left {
  border-left-color: #939393;
}
/* line 334, ../sass/themes/_theme.scss */
body.trusted-default-theme .low-point {
  color: #8a8a8a;
}
